@import '../../variables.scss';

.Info{
    width: 52%;
    margin: 0 auto;
    margin-top: 66px;
    display: grid;
    justify-items: start;

    .Title{
        font-family: SFUIText;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $green;
    }

    .Text{
        font-family: SFUIText;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: initial;
        margin-top: 32px;
    }

    @media screen and (max-width: 600px) {
        height: 63vh;
        overflow-y: auto;
    }
}